body{
    background-color:red;
}

#wrapper{
    width:80%;
    background-color:goldenrod;
    margin:auto;
    border:solid black 10px;
    text-align:center;
}

#wikiId{
    display:none;
}

#errorMessage{
    color:maroon;
    font-size: 20px;
}

h1{
    border-bottom:solid black 10px;
}

#submitbutton{
    display:block;
    margin:auto;
    padding:10px;
}

#theButton{
    margin:20px;
}